.container{
    width: 90%;
    margin:auto;
}

.row_nav{
    min-height: 100px;
    margin:0px auto;
    padding: 30px 0px 30px 0px;
}

hr{
    border-color:black;
}
.row_slide {
    margin:0px auto;
    padding: 10px 0px 10px 0px;
    min-height:300px;
}

.row_content {
    margin:0px auto;
    padding: 10px 0px 10px 0px;
    min-height:300px;
    border-top: 1px dotted;
    margin-top:50px;
}

.title_product h2{
    width:400px;
    margin-top:-30px;
    background:white;
    
}


/* Carousel of slide */
#mycarousel {
    background:#1A237E;
}
#mycarousel .item {
  height: 300px;
}
#mycarousel .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}


/* Carousel for row_content */


.row_content .thumbnail{
    display:inline-block;
    padding-top:10%;
    float: none;
    border: 0 none;
    box-shadow: none;
    width:200px;
}
.row_content .img-thumbnail{
    width :160px;
    height:160px;
}

.row_content .item{
    top : 0;
    left : 0;
    min-height : 320;
}

.row_content .item .col-md-2{

    margin-left: 2%;
}

.row_content .item.active{
    padding-left: 2%;
}



.row_content .carousel-control.left{
  background-image:none;
    color: red;
    margin-left: -60px;
}   

.row_content .carousel-control.right{
     background-image:none;
    color:red;
    margin-right: -60px;
}


/* Badge*/
#mycarousel_sale .thumbnail .badge{
    background:#ea2222;
    margin-bottom:0px;
    margin-right:0px;
    min-width:20px;
    
}

.title_product a {
   margin-left:20px;
   
}

.title_product p {
     width: 100px;
     margin:-36px 0px 0px 30px;
     float:right;
     background:white;
}


/*  End carousel for row_content  */





/*  Navbar header */

.shopping-cart{
    background:red;
    width:auto;
    margin:1px;
}

.shopping-cart i, .shopping-cart strong{
    color:cornsilk;
}

/* navbar top */
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}
    
.navbar{
    background: #eeeeee;
}
/* */ 

/* drop-down menu */

#nav_font {
     background: white;
}

.dropdown-menu{
    border: 1px dotted;
    width: 200px;
}



#nav_font .active > a,
#nav_font .active > a:hover,
#nav_font .active > a:focus {
    color: #000000;
    background: #ebf7fc;
}

#nav_font li > a:hover,
#nav_font li > a:focus {
     color: #000000;
    background: #ebf7fc;
}


/* */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

/* end drop-down */
#nav_font{
    font-size:18px;
    font-weight: bold;
}


#nav_font a
 {
    color: black;

}

.form-horizontal .control-label{
text-align:left;
}


/* Footer-pay */

#footer-pay .col-md-2{
    margin-left:1%;
}



/* */




/* Lich.html */

.breadcrumb, .breadcrumb a {
    background: #FFFFFF;
    font-weight: bold;
    color:black;
}

.breadcrumb >.active{
    color:red;
}



/* */

/* Footer */

.row-footer{
    background-color: #eeeeee;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
#footer-brand{
    background-color: white;
    color:black;
    min-height:200px;
}

.row-footer h5{
    font-weight: bold;
}

/* End of footer */





